* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma, sans-serif;
}

.mode {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(3, 169, 244, 0.98);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mode h1 {
    font-size: 45px;
}

.mode .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 90%;
    gap: 70px;
}

.mode ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.mode ul li {
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 6px;
    font-size: 30px;
    user-select: none;
    text-align: center;
    color: rgba(3, 169, 244, 0.98);
    cursor: pointer;
}

.mode ul p {
    margin: 0 0 15px;
}

.mode ul li img {
    width: 150px;
    height: 100px;
}

.mode span {
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    color: rgba(3, 169, 244, 0.98);
}

.mode span p {
    margin: 0 0 10px;
}

.mode span img {
    width: 150px;
    height: 100px;
}

.buttons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(3, 169, 244, 0.9);
}

.buttons .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}

.buttons h1 {
    color: #FFF;
    text-align: center;
    font-size: 45px;
}

.buttons .levels {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttons .levels span {
    background-color: #F44336;
    color: #FFF;
    padding: 15px 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.buttons .start {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    background-color: #F44336;
    color: #FFF;
    padding: 15px 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.info-container {
    width: 1080px;
    margin: 20px auto 0;
    background-color: #f6f6f6;
    padding: 20px;
    font-size: 24px;
    overflow: hidden;
    border: 2px solid #2196f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-container .name {
    flex: 1;
}

.info-container .time {
    flex: 1;
    text-align: center;
}

.info-container .tries {
    flex: 1;
    text-align: right;
}

.game-container {
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    margin: 20px auto;
}

.game-container.no-clicking {
    pointer-events: none;
}

.game-container .game-block {
    height: 150px;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 150px;
    margin: 0 10px 20px;
}

.game-container .game-block.flipped,
.game-container .game-block.match {
    transform: rotateY(180deg);
    pointer-events: none;
}

.game-container .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #2196f3;
    user-select: none;
}

.game-container .game-block .front {
    background-color: #333;
    line-height: 150px;
}

.game-container .game-block .front::before {
    content: '?';
    color: #FFF;
    font-size: 100px;
    font-weight: bold;
}

.game-container .game-block .back {
    background-color: #60708B;
    transform: rotateY(180deg);
}

.game-container .game-block .back img {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

@media (max-width: 767px) {
    .mode h1 {
        font-size: 25px;
    }
    .mode ul {
        flex-direction: column;
        gap: 10px;
    }
    .mode ul li {
        font-size: 25px;
        padding: 7px 30px;
    }
    .mode ul li img {
        height: 50px;
    }
    .buttons .container {
        width: 90%;
        height: 80%;
    }
    .buttons h1 {
        font-size: 25px;
    }
    .buttons .levels span {
        font-size: 20px;
    }
    .buttons .start {
        font-size: 20px;
    }
    .info-container {
        width: 350px;
    }
    .info-container .name,
    .info-container .tries,
    .info-container .timer {
        font-size: 14px;
    }
    .game-container {
        width: 350px;
    }
    .game-container .game-block {
        height: 70px;
        flex: 1 0 70px;
        margin: 0 8px 10px;
    }
    .game-container .game-block .front {
        line-height: 70px;
    }
    .game-container .game-block .front::before {
        font-size: 50px;
    }
    .game-container .game-block .back img {
        width: 50px;
        height: 50px;
        margin-top: 7px;
    }
}